<h1>Welcome to the Book Library</h1>
<p>This is the home page. Use the navigation bar to explore the books and learn more about this project.</p>
<%= link_to 'View Books', books_path, class: 'btn btn-primary' %>
